
@import "./header.css";
@import "./footer.css";

body{
    margin: 0px;
    padding-left: 0px;
    padding-top: 70px;
    background-color: white;
    font-family: sans-serif;
    /* line-height: 30px; */
    color: black;
    align-items: center;
}

header, main, footer, article, section, div, nav{
    display: flex;
    border: solid 2px ;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
}

main{
    padding-left: 30px;
}

footer{
    padding-left: 15px;
    padding-right: 15px;
}

section{
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex-direction: row; */
}

#portfolio{
    background-color: grey;
}

h1{
    border-bottom: red solid;
    border-bottom-width: medium;
}

#form{
 justify-content: center;
}